@import "./fonts.scss";
@import "./general.scss";
@import "./mixins.scss";
@import "./variables.scss";

.body {
    font-family: 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
    background-color: $cream;
}

// main positions

.header {
    background-image: url("../img/header-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 715px;
    padding-top: 36px;

    &__section {
        @include flex-centered;
    }

    &__wrapper {
        @include wrapper;
        max-width: 1200px;

        &--navigation {
            display: flex;
        }

        &--promo {
            padding-left: 84px;
        }
    }

    &__navigation {
        margin-right: 42px;
        margin-left: auto;
    }

    &__phone {
        text-decoration: none;
        margin-right: 0;
        color: #533738;
        font-weight: 400;
        size: 16px;
        line-height: 20px;
    }

    &__heading {
        color: #533738;
        font-weight: 400;
        font-size: 50px;
        line-height: 62px;
        max-width: 480px;
        margin-top: 91px;
    }

    &__text {
        color: #533738;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        max-width: 430px;
        margin-top: 24px;
    }

    &__call-back {
        margin-top: 21px;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 310px;
        height: 74px;

        background-color: $button-cream;
        color: #533738;

        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
    }
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;

    &__text {
        color: #533738;
        font-weight: 400;
        size: 16px;
        line-height: 20px;
        text-transform: uppercase;
    }
}

.navigation {
    &__list {
        list-style: none;
        display: flex;
    }

    &__item {
        margin-left: 22px;
    }

    &__link {
        text-decoration: none;
        color: #533738;
        font-weight: 400;
        size: 16px;
        line-height: 20px;

    }
}

.about-us,
.results,
.examples,
.team,
.workflow,
.reviews,
.call-back {
    @include flex-centered;

    &__wrapper {
        @include wrapper;
    }
}

.footer {
    @include flex-centered;

    &__wrapper {
        @include wrapper;
    }
}

// backgrounds

.results {
    background-color: $choco;
}

.workflow,
.team {
    background-color: $dark-cream;
}

.call-back {
    background-color: $choco;
}

// main work

.about-us {
    padding-top: 65px;
    padding-bottom: 21px;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    &__heading {
        color: #533738;
        font-size: 40px;
        line-height: 50px;
        font-weight: 400;
        text-transform: uppercase;
    }

    &__content {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1036px;
    }

    &__description {
        max-width: 528px;
    }

    &__text {
        color: #533738;
        font-size: 18px;
        line-height: 30px;
        font-weight: 400;

        &:not(:first-child) {
            margin-top: 46px;
        }
    }
}

.results {
    padding-top: 85px;
    padding-bottom: 81px;

    &__wrapper {
        margin: 0 auto;
        width: 100%;
        max-width: 1040px;
    }

    &__list {
        list-style: none;
        display: flex;
        justify-content: space-between;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__text,
    &__number {
        color: #ffffff;
    }

    &__number {
        font-size: 50px;
        line-height: 62px;
        font-weight: 400;
    }

    &__text {
        margin-top: 8px;

        font-size: 30px;
        line-height: 37px;
        font-weight: 500;
        text-transform: uppercase;
    }
}

.examples {
    padding-top: 65px;
    padding-bottom: 65px;

    &__wrapper {
        margin: 0 auto;
        width: 100%;
        max-width: 1200px;
    }

    &__heading {
        color: #533738;
        font-size: 40px;
        line-height: 50px;
        font-weight: 400;
        text-transform: uppercase;
    }

    &__list {
        list-style: none;
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;

        margin-left: -20px;
    }

    &__example-card {
        margin-left: 20px;
        margin-top: 30px;

        &:nth-child(4n + 1) {
            width: 488px;
        }
        &:nth-child(4n + 2) {
            width: 692px;
        }
        &:nth-child(4n + 3) {
            width: 692px;
        }
        &:nth-child(4n + 4) {
            width: 488px;
        }
    }

    &__more {
        text-decoration: none;
        align-self: center;
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 295px;
        margin: 0 auto;
        margin-top: 40px;
        transition: opacity 0.5s;

        color: #533738;

        font-size: 30px;
        line-height: 37px;
        font-weight: 500;
        
        svg {
            fill: currentColor;
            margin-left: 10px;
        }

        &:hover,
        &:focus {
            opacity: 0.7;
        }

        &:active {
            opacity: 0.3;
        }
    }
}

.example-card {
    position: relative;
    height: 451px;

    &:hover {
        .example-card__content {
            opacity: 1;
            transition: opacity 0.5s;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    &__content {
        opacity: 0;
        transition: opacity 0.5s;
        position: absolute;
        top: 0;
        left: 0;

        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
        height: 100%;
        background-color: rgba(#644845, 0.8);
    }

    &__heading {
        color: #ffffff;
        font-size: 30px;
        line-height: 37px;
        font-weight: 500;
        text-align: center;
        max-width: 270px;
        margin-top: 86px;
    }

    &__description {
        color: #ffffff;
        font-size: 18px;
        line-height: 30px;
        font-weight: 400;
        margin-top: 27px;
        padding-left: 35px;
        padding-right: 40px;
    }
}

.team {
    padding-top: 50px;
    padding-bottom: 65px;

    &__wrapper {
        width: 100%;
        max-width: 1036px;
        margin: 0 auto;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__heading {
        color: #533738;
        font-size: 40px;
        line-height: 50px;
        font-weight: 400;
        text-transform: uppercase;
    }

    &__list {
        width: 100%;
        list-style: none;
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
    }

    &__item {
        max-width: 320px;
    }

    &__img {
        width: 320px;
        height: 245px;
        object-fit: cover;
    }

    &__description {
        margin-top: 10px;

        color: #533738;
        font-size: 18px;
        line-height: 30px;
        font-weight: 400;
    }
}

.workflow {
    padding-bottom: 80px;

    &__wrapper {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__heading {
        color: #533738;
        font-size: 40px;
        line-height: 50px;
        font-weight: 400;
        text-transform: uppercase;
    }

    &__list {
        margin-top: 40px;
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: space-between;

        counter-reset: li;
    }

    &__item {
        width: 100%;
        max-width: 285px;

        display: flex;
        flex-direction: column;
        align-items: center;

        text-align: center;
        color: #533738;
        font-size: 18px;
        line-height: 30px;
        font-weight: 400;

        &::before {
            counter-increment: li;
            content: counter(li);

            min-width: 70px;
            min-height: 70px;
            background-color: #8d7370;
            border-radius: 50%;

            color: #ffffff;
            text-align: center;
            line-height: 70px;
            font-size: 30px;
            font-weight: 500;
            margin-bottom: 20px;
        }
    }
}

.reviews {
    padding-top: 65px;
    padding-bottom: 65px;

    &__wrapper {
        width: 100%;
        max-width: 1036px;
        margin: 0 auto;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__heading {        
        color: #533738;
        font-size: 40px;
        line-height: 50px;
        font-weight: 400;
        text-transform: uppercase;
    }

    &__slider {
        margin-top: 40px;
    }
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;

    &__previous,
    &__next {
        background: none;
        border: none;

        width: 72px;
        height: 72px;

        background-color: $button-cream;
        border-radius: 50%;
        color: #F5F2ED;

        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            width: 32px;
            fill: currentColor;
        }
    }

    &__previous {
        margin-right: 29px;

        svg {
            transform: rotate(-180deg);
        }
    }

    &__next {
        margin-left: 29px;
    }

    &__content {
        max-width: 834px;
        display: flex;
    }

    &__quote {
        margin-top: 91px;
    }

    &__img {
        &:not(:first-child) {
            margin-top: 24px;
        }
    }
}

.quote {
    &__paragraph {
        color: #533738;
        font-size: 18px;
        line-height: 30px;
        font-weight: 400;

        &:not(:first-child) {
            margin-top: 30px;
        }
    }

    &__author {
        font-style: normal;
        display: block;
        margin-top: 30px;
        color: #533738;
        font-size: 18px;
        line-height: 30px;
        font-weight: 400;
        text-transform: uppercase;
    }
}

.call-back {
    &__wrapper {
        width: 100%;
        max-width: 1198px;
        display: flex;
        justify-content: space-between;
    }

    &__content {
        padding-left: 80px;
        padding-right: 20px;
    }

    &__heading {
        margin-top: 50px;
        color: #ffffff;
        font-size: 40px;
        line-height: 50px;
        font-weight: 400;
        text-transform: uppercase;
    }

    &__text {
        margin-top: 24px;
        color: #ffffff;
        font-size: 18px;
        line-height: 30px;
        font-weight: 400;
        opacity: 0.6;
    }

    &__form {
        margin-top: 44px;
        display: flex;
        flex-direction: column;
    }

    &__input {
        outline: none;
        background: none;
        border: none;

        border-bottom: 1px solid #ffffff;
        line-height: 35px;
        height: 35px;
        color: #F6EDE9;
        font-size: 18px;
        line-height: 30px;
        font-weight: 400;

        &:not(:first-child) {
            margin-top: 35px;
        }

        &::placeholder {
            color: #F6EDE9;
            font-size: 18px;
            line-height: 30px;
            font-weight: 400;
        }
    }

    &__submit {
        border: none;
        background: $button-cream;
        margin-top: 31px;
        max-width: 310px;
        min-height: 74px;

        color: #533738;
        font-size: 20px;
        line-height: 24px;
        font-weight: 500;
    }

    &__map {
        display: flex;
    }
}

.footer {
    padding-top: 37px;
    padding-bottom: 37px;

    &__wrapper {
        margin: 0 auto;
        width: 100%;
        max-width: 1200px;

        display: flex;
    }

    &__phone,
    &__address,
    &__owner {
        text-decoration: none;
        color: #533738;
        font-style: normal;
        font-size: 18px;
        line-height: 30px;
    }

    &__address {
        margin-left: 42px;
    }

    &__owner {
        margin-right: 0;
        margin-left: auto;
    }
}